*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.navbar{
    background-color: #fff;
    color: #ffffff;
    display: flex;
    justify-content: center;
    font-size: 19px;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    max-width: 1300px;
    margin: 10px 18px;
}

.logo{
    width: 150px;
    height: 70px;
    display: flex;
    align-items: center;
    text-align: center;
}

.navbar_menu{
    display: flex;
    list-style: none;
    align-items: center;
    text-align: center;
}
.navbar_menu a {
  text-decoration: none;
  color: #000;
}

.menu_list{
    display: flex;
    text-decoration: none;
    font-size: 20px;
    padding: 0 18px;
    text-align: center;
    align-items: center;
}

.navb_toggle {
    display: none;
}

.nav_btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 110px;
    height: 50px;

    color: white;
    background-color: blue;
    background-image: linear-gradient(to top, blue 0%, purple 100%);
}

.hero{
    background-image: url(assets/paylizz-hero.jpg);background-size: cover;
    display: flex;
    width: 100%;
    min-height: 700px;
    height: auto;
    text-align: center;
    margin: 0 auto;
}

.hero_container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1300px;
    text-align: center;
    align-items: center;
    margin: 0 auto;
}

.hero-keyword{
    background-color: white;
    border-left: 6px solid #edc22d;
    color: #0045ab;
    text-align: left;
    width: 100%;
    max-width: 350px;
    padding: 10px 10px;
    font-weight: bold;
    display: flex;
    align-items: baseline;
}

.hero_text h1{
    font-size: 22px;
    text-align: left;
    display: block;
    width: 100%;
    max-width: 700px;
}

.hero-special-text{
    color:#edc22d;
}

.hero_text{
    display: flex;
    flex-direction: column;
    gap: 21px;
}
.hero_text {
    opacity: 0;
    transform: translateX(-40px);
    animation: slideIn 2.6s ease-out forwards;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.hero_text p{
    font-size: 20px;
    text-align: left;
    display: block;
    width: 100%;
    max-width: 700px;
}
.hero_btn{
    display: flex;
    gap: 20px;
    padding-top: 7px;
}

.hero_btn1{
    background-color: #0045ab;
    color:white;
    border: 1px solid #0045ab;
    font-size: 16px;
    border-radius: 5px;
    width: 200px;
    height: 60px;
    padding: 17px 32px;
    cursor: pointer;
}

.hero_btn1:hover{
    background-color: #fff;
    color:black;
    border: 1px solid #0045ab;
    border-radius: 5px;
    padding: 17px 32px;
    width: 200px;
    height: 60px;
    cursor: pointer;
}

.hero_btn2{
    background-color: #fff;
    color:black;
    font-size: 16px;
    border: 1px solid #0045ab;
    border-radius: 5px;
    padding: 17px 32px;
    width: 200px;
    height: 60px;
    cursor: pointer;
}

.hero_btn2:hover{
    background-color: #0045ab;
    color:white;
    border: 1px solid #0045ab;
    border-radius: 5px;
    width: 200px;
    height: 60px;
    padding: 17px 32px;
    cursor: pointer;
}

.about-section{
    background-color: #ffffff;
    padding: 40px 40px;
    align-items: center;
}

.about{
    background-color: #ffffff;
    width: 100%;
    max-width: 1300px;
    display: flex;
    gap: 30px;
    flex-direction: row;
    padding: 40px 40px;
    margin: 0 auto;
}

.about-img{
    width: 600px;
    height: 500px;
}

.about-content{
    display: flex;
    gap: 15px;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
}

.about-content p{
    font-size: 18px;
    max-width: 600px;
    line-height: 1.6;
}

.mission-section{
    background-color:#edc22d;
    padding: 40px 40px;
    align-items: center;}

    .mission-box{
    background-color:#edc22d;
    width: 100%;
    max-width: 1300px;
    display: flex;
    gap: 10px;
    flex-direction: row;
    /* padding: 40px 40px; */
    margin: 0 auto;
}

.mission{
    background-color:#fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px 40px;
    margin: 0 auto;
    line-height: 1.6;
}

.vision{
    background-color:#fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px 40px;
    margin: 0 auto;
    line-height: 1.6;
}

.services-section{
    background-color:#ffffff;
    padding: 40px 40px;
    align-items: center;}

    .services-title{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .services-title h1{
        font-size: 55px;
    }

    .services-title p{
        font-size: 18px;
        padding: 10px;
    }

    .services-box{
    background-color:#ffffff;
    width: 100%;
    max-width: 1300px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 2fr);
    padding: 40px 40px;
    margin: 0 auto;
}

.cac{
    background-color:#fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 40px;
    margin: 0 auto;
    line-height: 1.6;
    border: 2px solid #edc22d;
}

.graphics{
    background-color:#fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 40px;
    margin: 0 auto;
    line-height: 1.6;
    border: 2px solid #edc22d;
}

.nin{
    background-color:#fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 40px;
    margin: 0 auto;
    line-height: 1.6;
    border: 2px solid #edc22d;
}

.education{
    background-color:#fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 40px;
    margin: 0 auto;
    line-height: 1.6;
    border: 2px solid #edc22d;
}

.properties{
    background-color:#fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 40px;
    margin: 0 auto;
    line-height: 1.6;
    border: 2px solid #edc22d;
}

.hr{
    background-color:#fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 40px;
    margin: 0 auto;
    line-height: 1.6;
    border: 2px solid #edc22d;
}

.contact-section{
    background-color: #ffffff;
    padding: 40px 40px;
    align-items: center;
    margin: 0 auto;
}

    .contact-box{
    background-color:#fff;
    width: 100%;
    max-width: 1300px;
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    padding: 40px 50px;
    margin: 0 auto;
}

.contact-image{
    background-color:#fff;
    width: 100%;
    height:500px;
    padding: 40px 40px;
}

.contact-form{
    background-color:#fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px 40px;
}

.contact-form h1{
    font-size: 35px;
}

.contact-form form{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 10px 15px;
}

.name{
    width: 100%;
    height: 50px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 8px;
}

.message{
    width: 100%;
    height: 100px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 8px;
}

.formsec-1{
    display: flex;
    gap: 10px;
}

#contact-form-issue{
    color: #000;
    width: 100%;
    height: 40px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 8px;
}

.contact-submit-button{
    background-color: #0045ab;
    color:white;
    border: 1px solid #0045ab;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    font-size: 19px;
    cursor: pointer;
}

.footer-section{
    background-color:#edc22d;
    background-image: linear-gradient(to top, #edc22d 30%, black 90%);
    height: fit-content;
    padding: 20px 40px;
    align-items: center;
}

    .footer-box{
    background-color:#edc22d;
    width: 100%;
    max-width: 1500px;
    display: flex;
    gap: 10px;
    flex-direction: row;
    padding: 40px 10px;
    margin: 0 auto;
}

.footer-section1{
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px 40px;
    margin: 0 auto;
    line-height: 1.6;
}

.footer-section2{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px 40px;
    margin: 0 auto;
    line-height: 1.6;
}

.footer-section3{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px 40px;
    margin: 0 auto;
    line-height: 1.6;
}

.footer-section4{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px 40px;
    margin: 0 auto;
    line-height: 1.6;
}
.footer-menu{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.copyright{
    background-color: black;
    color:white;
    width:100%;
    max-width:900px;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

@media (max-width: 600px) {
    .hero{
        height:auto;
        min-height: 500px;
    }
    
    .hero_text{
        padding: 0 15px;
    }
    
    .hero_text h1 {
        font-size: 35px;
        
    }

    .about {
        flex-direction: column;
        padding: 10px;
    }

    .about-img {
        width: 100%;
        height: auto;
    }

    .about-content {
        max-width: 100%;
    }
.mission-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
}

.mission{
    width: 100%;
}

.vision{
    width: 100%;
}

.services-box{
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
}
    
}
